{{define "header" -}}
    <header>
        {{template "hamburger" .}}
        <a class="home" href="/">
            <div class="svg">
               {{template "logo" .}}
            </div>
        </a>
        <nav id="home-nav">
            <ul>
                <li>
                    <a href="/all">Все документы</a></li>
                <li>
                    <a href="/static">Читалка</a>
                </li>
            </ul>
        </nav>
    </header>
{{end}}