{{define "section" -}}
<section>
    <h4>{{if .Num}}Глава: {{.Num}}{{ end }}</h4>
    <h1 {{if .ChapterID}}id="{{.ChapterID}}"{{ end }}>{{.Name}}</h1>
    <hr color="#e5e7eb" size="1">
    {{range .Paragraphs}}
        {{if .IsTable}}
            <article style="margin-bottom:20px;" class="centered">{{.Content}}</article>
        {{else}}
            <article {{if .ID}}id="{{.ID}}"{{ end }}{{if or (eq .Class "align_right") (eq .Class "align_right no-indent")}}class="right"{{end}}{{if eq .Class "align_center"}}class="center"{{end}}{{if eq .Class "document__format doc-format"}}class="doc"{{ else }}class="paragraph"{{end}}>{{.Content}}</article>
        {{ end }} 
    {{end}}
    <div class="btns-wrapper">
        {{if gt .Prev.OrderNum 0}}<a title="{{.Prev.Name}}" href="/chapter/{{.Prev.ID}}" class="prev btn"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="vertical-align: middle;"><path d="M19 12H5M12 19l-7-7 7-7"></path></svg><div><div class="btn-direction">Назад</div><div class="btn-text">{{.Prev.Name}}</div></div></a>{{else}}{{end}}
        {{if gt .Next.OrderNum 0}}<a title="{{.Next.Name}}" href="/chapter/{{.Next.ID}}" class="next btn"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="vertical-align: middle;"><path d="M5 12h14M12 5l7 7-7 7"></path></svg><div><div class="btn-direction">Вперед</div><div class="btn-text">{{.Next.Name}}</div></div></a>{{else}}{{end}}
    </div>
    <footer>Действует {{.Updated}}</footer>
</section>
{{end}}