{{define "section" -}}
 <a href="#">
            <div class="doc"><img src="assets/images/docs/poteu.jpeg" alt=""></div>
        </a>
        <a href="#">
            <div class="doc"><img src="assets/images/docs/high.png" alt=""></div>
        </a>
        <a href="#">
            <div class="doc"><img src="assets/images/docs/with_tools.jpg" alt=""></div>
        </a>
        <a href="#">
            <div class="doc"><img src="assets/images/docs/fire.png" alt=""></div>
        </a>
        <a href="#">
            <div class="doc"><img src="assets/images/docs/accommodation.png" alt=""></div>
        </a>
        <a href="#">
            <div class="doc" id="bethard"><img src="assets/images/docs/consumer.jpg" alt=""></div>
        </a>
        <a href="#">
            <div class="doc" id="nordicbet"><img src="assets/images/docs/pue.jpg" alt=""></div>
        </a>
        <a href="#">
            <div class="doc" id="pinnacle"><img src="assets/images/docs/health.jpg" alt=""></div>
        </a>
        <a href="#">
            <div class="doc" id="ıraqbet"><img src="assets/images/docs/44.png" alt=""></div>
        </a>
        <a href="#">
            <div class="doc" id="bwin"><img src="assets/images/docs/reserve.jpg" alt=""></div>
        </a>
        <a href="#">
            <div class="doc" id="betsafe"><img src="assets/images/docs/service.jpeg" alt=""></div>
        </a>
        <a href="#">
            <div class="doc" id="betsson"><img src="assets/images/docs/education.png" alt=""></div>
        </a>
        <a href="#">
            <div class="doc" id="comeon"><img src="assets/images/docs/court.png" alt=""></div>
        </a>
        <a href="#">
            <div class="doc" id="boylesport"><img src="assets/images/docs/bankruptcy.jpg" alt=""></div>
        </a>
        <a href="#">
            <div class="doc" id="unibet"><img src="assets/images/docs/police.jpg" alt=""></div>
        </a>
        <a href="#">
            <div class="doc" id="fez"><img src="assets/images/docs/military.jpg" alt=""></div>
        </a>
        <div class="div-h2">
            <h2>Все правила и законы всегда под рукой!</h2>
        </div>
        <img id="phone-main" src="assets/images/phone_name.png" alt="">
        <span id="circle"></span>

        <div class="headers" id="first-header">
            <h1>Установите приложение <span>бесплатно.</span></h1>
            <p>There are multiple factors for the dropping odds to happen. For instance if Cristiano Ronaldo gets injured just before the game starts or a strange decision is made by the coach. We can actually benefit from spotting these odds because you
                will see the best odds of any affected market. Imagine that the bookmaker in which you have an account has no picked up with the trend and they haven`t noticed that the tennis player you want to bet against has some muscular problems then
                you can benefit from it.</p>
        </div>
        <div class="headers" id="second-header">
            <h1>Customize notification behaviors.</h1>
            <p>Set time interval for receiving notifications or choose all-day. Also, you can disable notifications.</p>
        </div>
        <div class="headers" id="third-header">
            <h1>Choose minimum values you desire for the odds.</h1>
            <p>Set a minimum value for odds and a minimum percentage of odds decrease.</p>
        </div>
        <div class="headers" id="fourth-header">
            <h1>Choose sports</h1>
            <p>Choose sports that is interesting to you or set all.</p>
        </div>
        <div class="headers" id="fifth-header">
            <h1>Push notifications</h1>
            <p>You’ll receive a push notification for each new entry matching your preferences.</p>
        </div>
        <div class="headers" id="sixth-header">
            <h1>
                <h1>Big Drop <span>to make a profit.</span></h1>
                <p>Use dropping odds in order to make a profit, finding value from any bookie that is late to adjust them.</p>
            </h1>
        </div>
        <div class="headers" id="download">Download<br> to your mobile</div>
        <div class="headers" id="download-links">
            <div id="qr"><img src="assets/images/qrand.svg" alt=""></div>
            <div id="android-qr" class="markets"><img src="assets/images/google_play.png" alt="">
                <div>Google Play</div>
            </div>
            <div id="huawei-qr" class="markets"><img src="assets/images/huawei.svg" alt="">
                <div>HUAWEI</div>
            </div>
        </div>
        <small class="headers" id="love">Made with <img src="https://img.icons8.com/external-those-icons-lineal-color-those-icons/24/000000/external-heart-casino-leisure-those-icons-lineal-color-those-icons.png"/> by i-b8o</small>
        <div class="down"></div>
        <div id="qrand"><img src="assets/images/qrand1.png" alt=""></div>
{{end}}