{{define "section" -}}
<section class="docs-list">
    <h1>Все документы</h1>
    <ol>
        {{range .Docs}}
        <a class="table-of-contents" href="/doc/{{.Id}}"><li>{{.Name}}</li></a>
    {{end}}
    </ol>
</section>
{{end}}